body {
	margin:50px;
}
.products {
	width: 80%;
	margin-left: 10%;
	margin-top: 50px;
}

.product {
	text-align: center;
}

.face , .price, .date {
	display: inline-block;
	width: 100%;
	margin:10px;	
}

.face {
	height: 80px;
	line-height: 80px;
}